/* .genderlinecounts {
    background: 
} */

.genderlinecounts {
  background-image: var(--gender-gradient);
  background-repeat: no-repeat;
  min-height: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
