.rel-article {
  background: #082040;
  color: #edf6ff;
  padding: 100px 0 50px;
  /* padding: 100px 20px 50px; */
}

.rel-intro {
  margin: 0 80px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rel-intro h1 {
  margin: 0px;
  text-align: center;
}

.rel-intro-paragraphs {
  max-width: 70vw;
}

.rel-timeline {
  border: 1px solid red;
  margin-bottom: 200px;
}

.rel-scroll-container {
  padding: 15px 0 0;
  /* padding: 15px 50px 0; */
}

/* .rel-scroll-container {
  margin: 40vh 0 20vh;
  display: flex;
  justify-content: space-between;
} */

.rel-scroll-graphic {
  border: 1px solid blue;
  position: sticky;
  width: 100%;
  height: 100vh;
  top: 0px;
  /* border: 1px solid blue;
  flex-basis: 40%;
  position: sticky;
  width: 100%;
  height: 100vh;
  top: 20vh;
  display: flex;
  align-items: center;
  justify-content: center; */
}

.rel-scroll-graphic img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: right;
  transition: all 1s;
}

.rel-scroll-legend-color {
  position: absolute;
  width: 110% !important;
  top: 0px;
  right: 0px;
}

/* .rel-scroll-graphic img {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
} */

.rel-scroller {
  width: 40vw;
  position: relative;
  padding-left: 50px;
  z-index: 5;
}

.rel-scroller-step {
  width: 40vw;
  border: 1px solid yellow;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 auto 300px auto;
  /* margin: 100px 0; */
  padding: 40px 0;
  /* border: 1px solid #333; */
}

.rel-scroller-step p {
  text-align: left;
  padding: 1rem;
  font-size: 18px;
  line-height: 1.8;
  /* font-size: 1.8rem; */
  margin: 0;
}

.rel-scroller-step:last-child {
  margin-bottom: 0;
}

.rel-scroll-popup-container {
  /* border: 1px solid green; */
  position: sticky;
  width: 50vw;
  height: 0;
  padding-left: 50vw;
  top: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rel-scroll-popup {
  border: 1px solid yellow;
  background: rgba(255, 255, 255, 0.8);
  color: black;
  width: 35vw;
  padding: 30px;
  opacity: 0;
  transition: opacity 0.5s;
}

.rel-scroll-popup.visible {
  opacity: 1;
  transition: opacity 1s;
  /* display: block; */
  /* max-height: auto;
  opacity: 1;
  padding: 30px;
  transition: max-height 0ms 0ms, opacity 400ms 0ms; */
  /* 
  transition: transform 1s;
  transform: translateX(0); */
}

.rel-scroll-popup-label {
  margin: 0;
  font-size: 15px;
  text-decoration: underline;
}
