/* .genderlinecounts {
    background: 
} */

.relationship-page {
  background-image: var(--relationships-gradient);
  background-repeat: no-repeat;
  min-height: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  padding: 80px 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.relationship-page h1 {
  color: white;
  margin-bottom: 5px;
}

.relationship-page p {
  color: white;
}
