body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* background gradients/colors */

:root {
  --main-color: #352c50;
  --main-gradient: url("./assets/backgrounds/gradient-background.jpg");
  --gender-gradient: url("./assets/backgrounds/gender.jpeg");
  --relationships-gradient: url("./assets/backgrounds/relationships.jpeg");
  --sentiment-gradient: url("./assets/backgrounds/sentiment.jpeg");
  --script-gradient: url("./assets/backgrounds/script.png");
  --character-gradient: url("./assets/backgrounds/character.svg");
}
